body {
  font-family: 'Open Sans', sans-serif;
  background: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin-bottom: 1.2rem;
}

h2 {
  margin-bottom: 1rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #232323;
}

.income-amt,
.positive {
  color: #0ac20a;
}

.expense-amt,
.negative {
  color: #da1111;
}

.input-group input,
.input-group select {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button-group button,
.clear-button-group button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #1a5ea6;
  border-radius: 5px;
  background: #328ff2;
  color: #fff;
  cursor: pointer;
}

.button-group button:hover,
.clear-button-group button:hover {
  background: #126ccc;
}

.table-container {
  margin-top: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th,
td {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #328ff2;
  color: #fff;
}

td {
  color: #555;
}

td button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #1a5ea6;
  border-radius: 3px;
  background-color: #328ff2;
  color: #fff;
  cursor: pointer;
}

td button:hover {
  background-color: #126ccc;
}

#notification {
  background-color: #3bd059;
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.summary {
  padding: 1rem;
  background-color: #d0edff;
  color: #333;
  border-radius: 10px;
  text-align: center;
}

.summary label,
.summary-group {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.summary span {
  font-weight: bold;
}
